li {
  display: flex;
  list-style: none;
  align-items: left;
  margin-bottom: 10px;
  max-width: 250px;
}

ul {
  padding: 0;
}

.filterContainer {
  display: flex;
  flex-direction: column;
  align-items: left;
  max-width: 250px;
}
